@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Teachers", sans-serif;
}

div {
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
  margin-top: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

input {
  width: 200px;
  margin: 15px;
  padding: 15px;
  border-radius: 30px;
}

form {
  position: absolute;
  top: 40%;
}

body {
  background-color: black;
}

img {
  width: 30vh;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  input {
    margin: 10px;
    padding: 10px;
  }
}
