#header {
  top: 0;
  height: 7vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgb(124, 124, 124);
}

h1 {
  color: white;
}

.logo {
  margin-left: 20px;
  margin-right: 100px;
  height: 8vh;
  width: 150px;
}

#menu-icon {
  font-size: x-large;
  position: absolute;
  right: 20px;
  color: white;
}

#menu {
  display: none;
  background-color: black;
  right: 7vw;
  top: 7vh;
  position: absolute;
  z-index: 10;
  border: solid 1px white;
  border-top: none;
  border-radius: 1px;
  padding: 10px;
  display: none;
  height: 200px;
  width: 200px;
  animation: fadeInOut 0.5s ease-in-out forwards;
}

#menu.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

#menu.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  margin: 5px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: x-large;
}

.item:hover {
  color: rgb(207, 86, 86);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fade-out animation */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}