#header {
  top: 0;
  height: 7vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgb(124, 124, 124);
  z-index: 1000;
}

h1 {
  color: white;
}

.logo {
  margin-left: 20px;
  margin-right: 100px;
  height: 8vh;
  width: 150px;
}

#menu-icon {
  font-size: x-large;
  position: absolute;
  right: 20px;
  color: white;
}

#menu {
  display: none;
  background-color: black;
  right: 3vw;
  top: 7vh;
  position: absolute;
  border: 1px solid rgb(124, 124, 124);
  border-top: none;
  border-radius: 1px;
  padding: 10px;
  display: none;
  height: 100px;
  width: 200px;
  animation: myAnim 1s ease 0s normal forwards;
}

li {
  margin: 5px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

.item {
  margin: 30px;
}

.item:hover {
  color: rgb(207, 86, 86);
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
