* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #4f4f4f 0%, #000000 84%, #000000 100%);
}

#header {
  top: 0;
  height: 7vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.poster {
  width: 200px;
  margin-bottom: 10px;
}

h1,
a,
#menu-icon {
  color: white;
}

section {
  color: white;
  font-size: large;
}

.movieDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-left: 20px;
  height: 7vh;
  width: 150px;
}

ul {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  margin: 10px;
}

#menu-icon {
  font-size: x-large;
  position: absolute;
  right: 20px;
}

#movieContainer {
  margin-top: 10vh;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  animation: fade-in 1s ease;
}

#menu {
  display: none;
  background-color: gray;
  right: 40px;
  top: 60px;
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  padding: 10px;
  display: none;
  height: 200px;
  width: 200px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
