* {
  margin: 0vw;
  padding: 0vw;
}

::-webkit-scrollbar {
  display: none;
}

#header {
  height: 7vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}

#menu-icon {
  color: white;
  font-size: x-large;
  margin-left: 10vw;
}

#menu {
  background-color: blue;
  display: none;
  height: 400px;
  width: 400px;
}

a {
  color: white;
  font-family: sans-serif;
}

#search {
  color: white;
  font-size: x-large;
  margin-left: 10px;
}

#searchbar {
  display: none;
}

input {
  border-radius: 10px;
  height: 30px;
}

.item {
  margin: 150px;
}

.moviediv {
  height: 200px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(43, 226, 150);
}

#searchresults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  height: 200px;
  width: 250px;
}

.logo {
  margin-left: 10px;
  height: 75px;
  width: 150px;
}

.container {
  margin-left: 10px;
}
